.wrapper {
  padding: 3.5rem;
  height: 100%;
  min-height: 600px;
  color: white;

  .sectionWrapper {
    padding: 1rem;
    border-radius: 10px;
    min-height: 100%;
    display: flex;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    border: 1px solid black;
  }
}
